# Virtual environments
my_clean_env/
venv/
env/
.venv/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Large / model files
*.dll
*.pth
*.pt
*.zip
*.h5
*.onnx
*.pkl
*.pyc

# Data
*.csv
*.jpg
*.jpeg
*.png

# Env variables
.env

# IDE
.vscode/
.idea/